.git
.github
.pnp.*
.test-results
.yarn/cache
node_modules
**/node_modules
coverage
dist
artifacts
test-results
playwright-report
docs-internal
references
packages/portal/.next
packages/server/.env
packages/server/.env.local
packages/portal/.env
packages/portal/.env.local
.env
.env.local
