.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/
.next/
.env
.env.local
packages/server/.env
packages/server/.env.local
packages/portal/.env
packages/portal/.env.local
dist/
coverage/
artifacts/
test-results/
playwright-report/
docs-internal/
.DS_Store
.test-results
references/
fleet/gitrepo.yml